NEXT_PUBLIC_SERVICE_ID="service_4vgd0uj"
NEXT_PUBLIC_TEMPLATE_ID="template_gn17cf4"
NEXT_PUBLIC_PUBLIC_KEY="51rtL6G7QrlBaB4gW"

# Following env variables should be replaced with your own hosted github stats 

NEXT_PUBLIC_GITHUB_STATS_URL="https://github-readme-stats.vercel.app"
NEXT_PUBLIC_GITHUB_STREAK_STATS_URL="https://github-readme-streak-stats.herokuapp.com"

